<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>An AudioCodec that decodes A/52 and AC-3 into linear PCM data</string>
			<key>factoryFunction</key>
			<string>ACShepA52DecoderFactory</string>
			<key>manufacturer</key>
			<string>cd3r</string>
			<key>name</key>
			<string>AC3</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>ac-3</string>
			<key>type</key>
			<string>adec</string>
			<key>version</key>
			<integer>94321</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>An AudioCodec that decodes A/52 and AC-3 into linear PCM data</string>
			<key>factoryFunction</key>
			<string>ACShepA52DecoderFactory</string>
			<key>manufacturer</key>
			<string>cd3r</string>
			<key>name</key>
			<string>AC3</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<integer>1836261376</integer>
			<key>type</key>
			<string>adec</string>
			<key>version</key>
			<integer>94321</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>An AudioCodec that decodes A/52 and AC-3 into linear PCM data</string>
			<key>factoryFunction</key>
			<string>ACShepA52DecoderFactory</string>
			<key>manufacturer</key>
			<string>cd3r</string>
			<key>name</key>
			<string>AC3</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>AC-3</string>
			<key>type</key>
			<string>adec</string>
			<key>version</key>
			<integer>94321</integer>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string>$(CURRENT_PROJECT_VERSION), CoreAudio A/52 and AC-3 Codec Component</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>SHEP</string>
</dict>
</plist>
